There are times when you will want to store a series of data points as a single variable. <br>
For example: <br>

You have 3 students in one group and 2 students in another group. <br>
Sometomes it would be nice to treat a group as a single variable. <br>
You can use arrays to do this. <br>
For example: <br>
group1 = ["Joe","Susan","Bob"] <br>
group2 = ["Tommy","Chandler"]<br>

<br>group1 is an array with 3 elements. <br>
group2 is an array with 2 elements. 

<br>When you have a lot of data, arrays can make working with the data a lot easier.

# Data Collections (Arrays)

Python does not have arrays. <br>
Python has lists - which can be used like arrays.<br>

## ADD SLIDES ON LISTS
start at 0, length is one more than last index value

# Lists<br>
Lists are a collection of variables that are ordered and changeable. <br>

To fully appreciate the power of lists, let's look at how to do a sorting task without lists.<br>
Write code to sort the 5 variables from lowest number to highest number.

In [0]:
#Create the variables
score1 = 96
score2 = 88
score3 = 97
score4 = 99
score5 = 76

In [0]:
#write code to put the scores in numerical order
if score1 > score2:
  temp = score1
  score1 = score2
  score2 = temp

if score1 > score3:
  temp = score1
  score1 = score3
  score3 = temp

if score1 > score4:
  temp = score1
  score1 = score4
  score4 = temp

if score1 > score5:
  temp = score1
  score1 = score5
  score5 = temp

#---

if score2 > score3:
  temp = score2
  score2 = score3
  score3 = temp

if score2 > score4:
  temp = score2
  score2 = score4
  score4 = temp

if score2 > score5:
  temp = score2
  score2 = score5
  score5 = temp

#---

if score3 > score4:
  temp = score3
  score3 = score4
  score4 = temp

if score3 > score5:
  temp = score3
  score3 = score5
  score5 = temp

#---

if score4 > score5:
  temp = score4
  score4 = score5
  score5 = temp

#---
print(score1)
print(score2)
print(score3)
print(score4)
print(score5)

Sorting the numbers takes a fair amount of coding. If another number is added to the list, the program would have to be modified quite a bit to accommodate the new variable. <br>
<br>
Let's use a Python list to put the variables in numerical order.

1. create the list using the form:<br>
      list_name = [value, value, value, value,..., value, value]<br>
      For example: cat_names = ["Belle","Callie","Bootsie","Spot"]<br>

2. Sort the list using the method sort()<br>
      For example: cat_names.sort()

In [0]:
#Create a list
score = [96,88,97,99,76]

#sort the list into numerical order
score.sort()
print(score)

# **Assignment #1**

> Indented block


1. Create a list called grades with the following values: 
2,43,76,98,10,33,25,37,44,33,100,1,90,23, 27, 11
2. Print the list.

In [0]:
#Create a list with the following values: 
#2,43,76,98,10,33,25,37,44,33,100,1,90,23, 27, 11
#TODO

# **Assignment #2**
1. Sort the list called grades from lowest to highest number
2. Print the list

In [0]:
#Sort the list called grades
#TODO

Python lists have a number of built in methods. <br>
There is no need to memorize the built in methods, because.... we have the internet!<br>
Go to [this link](https://www.w3schools.com/python/python_ref_list.asp) to see the methods for lists.

# **Assignment #3**
1. Create a list with 10 float values. 
2. Sort the list in ascending order. 
3. Sort the list in descending order. 
4. Print the list.

In [0]:
#Create a list of floats
#Sort in ascending order
#Then sort in descending order
#TODO

# **Assignment #4**
1. Create a list of 10 states names. 
2. Print the list.
3. Delete the state name in the 5th position in the list. Remember lists start with position 0. 
4. Print the list.
5. Add Hawaii to the end of the list.

In [0]:

#1. Create a list of 10 states names. 
#2. Print the list.
#3. Delete the state name in the 5th position in the list. Remember lists start with position 0. 
#4. Print the list.
#5. Add Hawaii to the end of the list.
#TODO