<a href="https://colab.research.google.com/github/cagBRT/Intro-to-Programming-with-Python/blob/master/C4_Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Clone the entire repo.
!git clone -l -s https://github.com/cagBRT/Intro-to-Programming-with-Python.git cloned-repo
%cd cloned-repo
!ls

In [0]:
from IPython.display import Image
def page(num):
    return Image("c4-content/c4PythonProgramming"+str(num)+ ".png" , width=640)

# For Loops

There are times when you may want to execute the same task several times. Rather than writing the code over and over, you can use a 'for' loop. <br>

In [0]:
page(1)

In [0]:
page(2)

A Python 'for' loop uses the form: <br><br>

for iterating_var in sequence: <br>
>   statements(s)

In [0]:
for letter in 'Python':   
   print ('Current Letter :', letter)

# **Assignment #1**

Write a program to do the following: 
1. For every letter in your name, use a for loop to 
> print ("letter is ", letter)

In [0]:
#Assignment #1

#TODO

**For loops can be used with numbers.**

In [0]:
#for loop example
for x in range(6): 
  print(x)

# **Assignment #2**
Use a 'for' loop to print the integers from 0 - 9

In [0]:
# **Assignment #2**

#TODO

**For loops can be assigned a range and increment value.**

In [0]:
#Example of for loop with a range and
#increment value

#Print the every 5th integer from 10 - 50 
for x in range(10,50,5):
  print(x)

# **Assignment #3<br>**
Use a 'for' loop to print every third integer from 30 to 60, inclusive

In [0]:
#Assignment #3

#TODO

**Debug Exercise**<br>
Fix the code below

In [0]:
for x in range(10, 20.5, 2.5):
  print(x)

**Using the 'else' statement with a for loop.**<br>
An 'else' statement can be used with a for loop. <br>
The example below uses an else statement, but it is not a very good example. Why?

In [0]:
for number in range(5):
  print(number)
else: 
  print("Done")

A better example of using an 'else' statement with a for loop.

In [0]:
number_of_i = 0
number_of_others = 0
sentence = "I'm going to make him an offer he can't refuse"
for x in sentence: 
  if x== 'a': 
    number_of_i  = number_of_i  + 1
  else: 
    number_of_others = number_of_others + 1
print("there are ", number_of_i, "i's in sentence")
print("there are ", number_of_others, "other characters")

# **Assignment #4**

Modify the code to print the total number of characters in the sentence.

In [0]:
#Assignment #4
number_of_i = 0
number_of_others = 0
sentence = "I'm going to make him an offer he can't refuse"
for x in sentence: 
  if x== 'a': 
    number_of_i  = number_of_i  + 1
  else: 
    number_of_others = number_of_others + 1
print("there are ", number_of_i, "i's in sentence")
print("there are ", number_of_others, "other characters")

# **Assignment #4**
1. Print the characters in this sentence:
>The rain in Spain falls mainly in the plain. 
2. Count all the letters, ignoring the blank spaces
3. Print out the number of letters in the sentence

In [0]:
#Assignment 4

#TODO

# **Quiz**

In [0]:
page(5)

In [0]:
#@title Q1
variable_name = "every third number in scores" #@param ["every third number in scores", "multiples of three", "nothing, there is an error in the code", "nothing, none of the scores satisfy the conditional statement"]

**Debug Exercise**
Fix the code below

In [0]:
sentence = "The quick brown fox jumped over the lazy dog"
for letter in sentence
  print(letter)
else 
  print("Done")

# **Assignment #5**
1. Create a List with the following words:
>dog, cat, bunny, goat, cow, giraffe, pig, chicken
2. Count the animals in the list. 
3. If the word giraffe is in the list print "A giraffe is Not domesticated!"

In [0]:
#Assignment #5

**The pass statement**

Sometimes, you do not want to do anything in an 'if' or 'for' statement. <br>
For those times, you use the 'pass' statement.

In [0]:
#example of a pass statement
for i in range(20, 30):
  pass
print("done")

In [0]:
#example of a pass statement
sentence = "They call him the Spaniard"
count_l = 0
count_t = 0 

for letter in sentence: 
  if letter == "l":
    count_l = count_l + 1
  elif letter == "t":
    count_t = count_t + 1
  else:
    pass
print("number of ls = ", count_l)
print("number of ts = ", count_t)

The count of the number of 't's is incorrect. There are two 't's. What happened?

# **Assignment #6**
Create a string variable with the value: <br>
>"Four score and seven years ago our fathers brought forth on this continent, a new nation, conceived in Liberty, and dedicated to the proposition that all men are created equal.

>Now we are engaged in a great civil war, testing whether that nation, or any nation so conceived and so dedicated, can long endure. We are met on a great battle-field of that war. We have come to dedicate a portion of that field, as a final resting place for those who here gave their lives that that nation might live. It is altogether fitting and proper that we should do this.

Count the number of times the word "we" is found in the string variable.

In [0]:
address = ("Four score and seven years ago our fathers brought forth " +
          "on this continent, a new nation, conceived in Liberty," +
          " and dedicated to the proposition that all men are created" +
          " equal.Now we are engaged in a great civil war, testing" +
          " whether that nation, or any nation so conceived and so " +
          "dedicated, can long endure. We are met on a great " + 
          "battle-field of that war. We have come to dedicate a portion" +
          " of that field, as a final resting place for those who here" +
          " gave their lives that that nation might live. It is " +
          "altogether fitting and proper that we should do this.")

Congrats! You finished another Python Module.
Keep up the good work....start the next module

C5 Intro to ML Programming with Python
<br><br>
Instructions to access the notebooks:<br> 
In a Chrome or Firefox Window type on the search bar: **Google CoLab**<br>

On the orange menu bar, select the menu item: **GITHUB**<br>

If the orange pop-up menu does not appear, <br>

In the Notebook environment, select File>Open notebook <br>

The orange pop-up menu should now appear.<br>

Select:  GITHUB<br>

On the search bar type in: **cagBRT**  This will bring up my gitHub repository. <br>

On the drop down menu select: cagBRT/<br>**Intro-To-Programming-with-Python**<br>

Then select: **Intro to C5 Intro to Python.ipynb**<br>