<a href="https://colab.research.google.com/github/cagBRT/Intro-to-Programming-with-Python/blob/master/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Clone the entire repo.
!git clone -l -s https://github.com/cagBRT/Intro-to-Programming-with-Python.git cloned-repo
%cd cloned-repo
!ls

# **Introduction to Machine Learning Programming with Python**

Python offers concise and readable code. While complex algorithms and versatile workflows stand behind machine learning and AI, Python's simplicity allows developers to write reliable systems. Developers get to put all their effort into solving an ML problem instead of focusing on the technical nuances of the language.

In [0]:
#Print a string
print("hello world!")

In [0]:
#Always use comments to explain how your program works. 
#Comments begin with a hashtag. 

#TODO - when you see TODO - that is where you are to add code.

Python was designed to be very easy to read.<br> 
Your code should be easy to read.

# Variables

Variables are containers for storing data values.

In [0]:
#Assign variables
first_name = "John"
last_name = "Deere"
print(first_name, last_name)

# **Assignment #1**
1. Add a comment line listing your name, and the assignment number. 
2. Assign the variable first_name the value of your first name<br>
3. Assign the variable last_name the value of your last name<br>
4. Print the variables on the same line. <br>

In [0]:
#Add comment and variables
#Print name
#TODO

Variable names are case-sensitive
firstName is a different variable than FirstName

In [0]:
#Variable names are case sensitive
first_name = "Cali"
First_Name = "Janice"
print(first_name)
print(First_Name)

# **Assignment #2**
Create two variables: last_name, Last_Name<br>
Assign the variables values<br>
Print the variables on separate lines. <br>

In [0]:
#Capitalization matters

#TODO

#Use the internet when programming!
When programming, the internet is your friend. <br>
Lots of Pythn code is available online. <br>
1. When searching the internet, write Python first<br>
For example: "python assign multiple variables on one line"
2. Look at the results, usually the first one or two will tell you how to create multiple variables on the same line.

**For learning Python try**: 


*   [https://www.w3schools.com/python/python_operators.asp](https://www.w3schools.com/python/python_operators.asp)
<br><br>

**For looking for particular code solutions try**: 

*   Stack Overlow
<br><br>

**For Python coding standards try: bold text**


*   http://google.github.io/styleguide/pyguide.html
*   https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html

# **Assignment #3**
Create and assign three variables on one line. <br>
Print out the variable values.

*   A variable name must start with a letter or the underscore character
*   A variable name cannot start with a number

*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
*   Variable names are case-sensitive (age, Age and AGE are three different variables)

In [0]:
#Search the internet to find the answer

#TODO

Print the variable name and the value in the form: <br>
variableName = value <br>

In [0]:
#Example of writing the variableName and the value
variable1 = 'Paul'
variable2 = 'Bunyon'

#print a string then the value of the variable
print("variable1 = " , variable1)
print("variable2 = " , variable2)

# **Assignment #4**
Create and assign values to two variables<br>
Print out the variable names and values.

In [0]:
#Print a string and a variable value

#TODO

Variables can be strings: <br>


> name = "Blue River"<br>



Variables can also be numbers:<br>


>   length = 6<br>
  width = 4.5

Number variables can be: 


> Integers (which are whole numbers)


> Floating Point Numbers (which are real numbers)

In [0]:
#Assigning integer variables
number_of_customers = 65
number_of_shopping_carts = 60
print(number_of_customers, number_of_shopping_carts)

In [0]:
#Assigning float variables
mpg = 24.5
miles = 100.5
print(mpg, miles)

# **Assignment #5**
Create two integer variables.<br>
Create two float variables<br>
Print out the variable names and values.

In [0]:
#Print int and float variable names and values

You can add strings or numbers using the '+" sign.

In [0]:
#Add two Python strings
first_statement = "I want to go to the movies"
second_statement = "tonight"
#Print the two variables side by side
print(first_statement, second_statement)
#Add the two variables and make a new variable
complete_statement = first_statement + second_statement
print(complete_statement)

# **Assignment #6**
When the two string variables are added together, there is no space between them. <br>
Rewrite the code to add a space between "movies" and "tonight" in completeStatement variable.

In [0]:
#Add a space between two string variables

String variables can be only be added (also called concatenated).<br>
Any other math function will produce an error.

In [0]:
#Strings can only be concatenated
string1 = "hello"
string2 = "bye"
string3 = string1 + " " + string2
#The next line will produce an error
string4 = string1 - string2

# Operators

Python has a number of arithmetic operators. <br>

In [0]:
from IPython.display import Image
Image("PythonArithmeticOperators.png", width=800)

In [0]:
#demonstrate the arithmetic operators
integer1 = 4
integer2 = 3

sum = integer1 + integer2
difference = integer1 - integer2
product = integer1 * integer2
div = integer1 / integer2
mod = integer1 % integer2
exponent = integer1 ** integer2
floor = integer1 // integer2

print("sum = ", sum)
print("difference = ", difference)
print("product = ", product)
print("div = ", div)
print("mod = ", mod)
print("exponent = ", exponent)
print("floor = ", floor)

# **Assignment #7**
 Write a program that calculates and prints the area of triangle. <br>
 The triangle has:
 base = 12<br>
 height = 32<br>

 The area of a triangle is A = 1/2(base * height)

The output should have the following format:<br> 
The area of the triangle is: ##

In [0]:
#Assignment #5
#Caluculate the area of a triangle
#TODO

Python has a number of assignment operators <br>
Assignment operators are used to assign values to variables. <br>

In [0]:
from IPython.display import Image
Image("AssignmentOperators.png", width=800)

In [0]:
#Show that the arithmetic operator and the assignment operator
#produce the same values
x = 7
x *= 3
print("x *= 3 ",x)

x = 7
x = x * 3
print("x * 3 =",x)

# **Assignment #8**
Write a program to demonstrate that the arithmetic operations produce the same values as the assignment operators. <br>
For example: <br>

In [0]:
#Assignment 8
#TODO

Variables can also be True/False values (also called Boolean values). <br>
Boolean values can be True or False. <br>
They are often used with comparison, logical, and identity operators.

# Comparison operators

In [0]:
from IPython.display import Image
Image("comparisonOperators.png", width=800)

In [0]:
x = 9
y = 9
z = (x==y)
print(z)

w = 9.0
print(x==w)

v = 9.5
print(x==v)

# **Assignment #9**
Write a program that produces a True then a False value for each logical opeator. <br>

In [0]:
#Assignment #9
#TODO comparison operators

# Logical operators

In [0]:
from IPython.display import Image
Image("LogicalOperators.png", width=800)

# Identity operators

In [0]:
from IPython.display import Image
Image("IdentityOperators.png", width=800)